# Dependencies
node_modules/

# Hardhat build files
cache/
artifacts/

# Environment variables (PRIVATE KEYS!)
.env

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*
